@font-face {
    font-family: 'Helvetica Black Oblique';
    src: url('/assets/fonts/helvetica.otf') format('opentype');
}


.primary-font{
    font-family: "Helvetica Black Oblique", sans-serif;
}

.text-container{
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 10px;
}

.mail{
    color: yellow;
    text-decoration: none;
}

.mail:hover{
    text-shadow: 1.5px 3px 1.5px red;
}

.footer-container{
    text-align: right;
    padding: 3rem;
    font-size: 0.9rem;
    color: yellow;
    text-shadow: 0 1px 0 red;
    background-color: rgb(58, 58, 58);
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10;
    padding-bottom: 1rem;
}

.item{
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 10px;
    padding: 1rem;
    margin: 1rem;
    flex-grow: 1;
    flex-basis: 19%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.item-image{
    width: 120px;
    height: 120px;
    object-fit: contain;
    display: block;
    margin: 1rem auto;
}

.item-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;

    flex-wrap: wrap;
}

.item-container .item{
    transition: transform 180ms ease, box-shadow 180ms ease;
    will-change: transform;
}

.item-container .item:hover{
    transform: scale(1.06);
    box-shadow: 0 10px 20px black;
    z-index: 2;
}

.item-container .item:hover .item-image{
    transform: scale(1.05);
    transition: inherit;
}

.title-container{
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: left;
    color: red;
    text-shadow: 1px 2px 1px black;
}

.header-container{
    margin-top: auto;
    text-align: left;
    padding: 3rem;
    font-size: 0.9rem;
    color: yellow;
    text-shadow: 0 1px 0 red;
    background-color: rgb(58, 58, 58);
    width: 100%;
}


.sobre-mi-text{
    padding: 1rem;
    font-size: 1.2rem;
}

.content{
    margin-left: 13rem;
    margin-right: 13rem;
}

.page{
    background-color: whitesmoke;
}

.nav-bar-container{
    padding-top: 2rem;
    text-align: inherit;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    font-size: large;
}

.nav-link:hover {
    color: red;
    cursor: pointer;
}

@media (max-width: 1400px) {
    .item {
        flex-basis: 60%;
    }
}


@media (max-width: 768px) {
    .item {
        flex-basis: 80%;
    }

    .item-container{
        margin-left: 0;
        margin-right: 0;
    }

    .content {
        margin-left: 1rem;
        margin-right: 1rem;
    }


    */
    .header-container,
    .footer-container {
        padding: 1.5rem; /* Era 3rem, ahora es la mitad */
    }
}

@media (max-width: 480px) {
    .item {
        flex-basis: 100%;
    }

    .item-container{
        margin-left: 2rem;
        margin-right: 2rem;
        gap: 1rem;
    }

    .title-container{
        margin-left: 0;
        margin-right: 0;
        text-align: left;
    }

    .content {
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .header-container,
    .footer-container {
        padding: 1rem;
        font-size: small;
    }

    .nav-bar-container{
        gap: 1rem;
        align-items: left;
    }

}


.content{
    padding-bottom: 10rem; /* Espacio para el footer*/
}




