@font-face {
  font-family: 'Helvetica Black Oblique';
  src: url('/assets/fonts/helvetica.otf') format('opentype');
}


.primary-font{
  font-family: "Helvetica Black Oblique", sans-serif;
}

.text-container{
	margin-left : 5rem;
	margin-right : 5rem;
	margin-top: 2rem;
	margin-bottom: 2rem;
	background-color: whitesmoke;
	border: 1px solid black;
	border-radius: 10px;
}

.mail{
	color: yellow;
	text-decoration: none;
}

.mail:hover{
	text-shadow: 1.5px 3px 1.5px red;
}

.footer-container{
    margin-top: auto;
    text-align: right;
    padding: 3rem;
    font-size: 0.9rem;
    color: yellow;
    text-shadow: 0 1px 0 red;
    background-color: black;
    width: 100%;
}

.item{
	background-color: whitesmoke;
	border: 1px solid black;
	border-radius: 10px;
	padding: 1rem;
	margin: 1rem;
	flex-grow: 1;
	flex-basis: 21%;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.item-image{
	width: 120px;
	height: 120px;
	object-fit: contain;
	display: block;
	margin: 1rem auto;
}

.item-container{
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 2rem;
	margin-left: 10rem;
	margin-right: 10rem;
	flex-wrap: wrap;
}

.item-container .item{
	transition: transform 180ms ease, box-shadow 180ms ease;
	will-change: transform;
}

.item-container .item:hover{
	transform: scale(1.06);
	box-shadow: 0 10px 20px rgba(0,0,0,0.18);
	z-index: 2;
}

.item-container .item:hover .item-image{
	transform: scale(1.05);
	transition: inherit;
}


@media (max-width: 1400px) {
	.item {
		flex-basis: 40%;
	}
}


@media (max-width: 768px) {
	.item {
		flex-basis: 80%;
	}
	.item-container{
		margin-left: 2rem;
		margin-right: 2rem;
	}
}

.header-container{
	margin-top: 2rem;
	margin-bottom: 2rem;
	margin-left: 5rem;
	margin-right: 5rem;
	text-align: left;
}

.header-container .card-title{
	color: red;
	text-shadow: 1px 2px 1px black;
}

.sobre-mi-text{
	padding: 1rem;
	font-size: 1.2rem;
}

